# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/

# Django
db.sqlite3
*.sqlite3

# Media files
media/

# Static build files
staticfiles/

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db